@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Asap:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Cormorant+Garamond:wght@336&family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=Estonia&family=Faculty+Glyphic&family=Gothic+A1&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Libertinus+Serif+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}



/* Début de la section Hero */
.hero {
    min-height: 100vh;
    width: 100%;
    background-image: url('../images/ant-rozetsky-HXOllTSwrpM-unsplash\ 1.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.hero .overlay {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(53, 53, 53, 0.88);
    align-items: center;
}

.hero .overlay header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}


.overlay header .logo {
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 10px;
}

.overlay header .logo img {
    max-width: 50px;
    object-fit: cover;
}

.overlay header .logo h1 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0%;
}

.overlay header .nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.overlay header .nav ul li a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s ease-in-out;
    text-transform: capitalize;
}  


.overlay header .nav ul li a:hover {
    color: rgba(0, 185, 151, 1);
}

.overlay header .nav ul li .starting_btn {
    padding: 5px 10px;
    background-color: rgba(0, 185, 151, 1);
    border-radius: 5px;
}

.overlay header .nav ul li .starting_btn:hover {
    background-color: rgba(255, 255, 255, 1);
}


.hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px 50px 50px;
}

.hero-content img {
    max-height: 90px;
    object-fit: cover;
}

.hero-content h2 {
    color: rgba(0, 216, 177, 1);
    font-size: 35px;
    margin-bottom: 30px;
}

.hero-content p {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.hero-content button {
    padding: 5px 20px;
    background-color: rgba(0, 185, 151, 1);
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}









/* début de la section 2 */
.software-section {
    min-height: 100vh;
    padding: 50px 50px;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    overflow: hidden;
}

.software-section h1 {
    color: rgba(38, 38, 38, 1);
    text-align: center;
    margin-bottom: 50px;
}

.software-section .col14 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}

.software-section .col14 .left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.software-section .col14 .left h2 {
    color: rgba(38, 38, 38, 1);
}

.software-section .col14 .left p {
    color: rgba(80, 80, 80, 1);
    line-height: 1.6;
    text-align: center;
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    overflow: hidden; */
}



.software-section .col14 img {
    max-width: 400px;
    object-fit: cover;
    max-height: 300px;
}

.software-section .reverse {
    flex-direction: row-reverse;
}




/* début de la section témoinage */
.temoignage {
    min-height: 100vh;
    padding: 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 1);
    width: 100%;
    flex-direction: column;
    gap: 50px;
}

.temoignage h1 {
    color: rgba(38, 38, 38, 1);
    text-align: center;
}

.temoignage .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.temoignage .content .card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.temoignage .content .card .cotes {
    margin-bottom: 50px;
}

.temoignage .content .card p {
    color: rgba(88, 88, 88, 1);
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 14px;
    margin-bottom: 70px;
} 


.temoignage .content .card hr {
    border: none;
    border-top: 1px solid rgba(200, 200, 200, 1);
    margin-bottom: 20px;
}

.temoignage .content .card .profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.temoignage .content .card .profile h3 {
    color: rgba(88, 88, 88, 1);
    font-size: 14px;
}

.temoignage .content .card .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}









/* début de la section 3 */
.about {
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(245, 245, 245, 1);
    width: 100%;
    flex-direction: column;
}

.about h1 {
    color: rgba(38, 38, 38, 1);
    text-align: center;
}

.about .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.about .content .text {
    flex-grow: 1;
    max-width: 400px;
}

.about .content .text p {
    color: rgba(88, 88, 88, 1);
    line-height: 1.6;
}

.about .content .img {
    flex-grow: 1;
}

.about .content .img img {
    max-width: 400px;
    object-fit: cover;
}   